html {
    padding: 0;
    margin: 0;
    background-color: #EBF2FA;
    font-family: 'Poppins', sans-serif;
}



body {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    text-align: center;
    color: #05668D;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.nav_logo {
    padding-left: 5px;
    padding-bottom: 0;
    padding-top: 8px;
}

.logo {
    width: 50px;
}

.nav_logo img {
    width: 50px;
}

.left-nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo-name {
    font-size: 2rem;
}

.right_nav {
    cursor: pointer;
    float: right;
    margin-right: 1%;
    padding-right: 2%;
    padding-left: 2%;
}

.nav-border {
    border: 1px solid #05668D;
    border-radius: 5px;
}

.bg-blue {
    background-color: #05668D;
    margin-right: 5%;
}

.bg-blue a {
    color: #EBF2FA;
}

.container {
    display: flex;
}

.pt {
    padding-top: 10%;
    position: relative;
    /* border: 2px solid red; */
}

.md-div img {
    width: 450px;
}

.svg {
    padding: 0 !important;
}

.primary-text {
    color: #05668D;
    font-weight: 200;
}

.md-div {
    /* border: 2px solid blue; */
    padding: 2%;
    width: 50%;
}

.lg-div {
    width: 99.99%;
}

.md-div h1 {
    font-size: 2em;
    text-align: center;
}

.hr {
    width: 3%;
    border-radius: 5px;
    background-color: #05668D;
    height: 2px;
}

.btn-primary {
    width: 200px;
    height: 55px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: #EBF2FA;
    border-radius: 5px;
    background-color: #05668D;

}

.pt-h1 {
    text-align: center;
}

.text-center {
    text-align: center;
}

.md-div-round {
    border: 2px solid #05668D;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.md-div-round img {
    width: 100px;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center-row {
    display: flex;
    justify-content: center;
}

.round-div-1 {
    background-image: url("../img/undraw_message_sent_1030.svg");
    background-size: 100% 100%;
    background-position: center;
}

.round-div-2 {
    background-image: url("../img/undraw_accept_request_vdsd.svg");
    background-size: 100% 100%;
    background-position: center;
}

.round-div-3 {
    background-image: url("../img/undraw_done_a34v.svg");
    background-size: 100% 100%;
    background-position: center;
}

.md-height-100 {
    height: 100%;
}

.footer {
    border: 1px solid #05668D;
    padding-top: 5% !important;
    border-bottom-right-radius: 100px;
}

.social-links {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.social-links span a i {
    font-size: 40px;
    color: #05668D;
}

.bg-LIMERICK {
    background-color: #A5BE00;
}

.fa-bars {
    display: none;
}

/* RESPONSIVE*/
@media all and (max-width : 900px) {
    .right_nav {
        width: 0;
        display: none;
        float: none;
        margin-right: 0% !important;
    }

    li {
        float: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .md-div {
        width: 100%;
        padding: auto;
        text-align: center;
    }

    .svg img {
        width: 100%;
    }

    .fa-bars {
        display: block;
        cursor: pointer;
        float: right;
        font-size: 30px;
    }

    .icon {
        display: block !important;
        width: 70%;
    }

    .br-bottom-yellow {
        border-bottom: 2px solid #A5BE00;
    }

    .open-nav {
        transition: 600ms ease-in;
        display: block;
        width: 100%;
    }
}

@media all and (max-width : 600px) {

    html,
    body {
        padding: 0;
        margin: 0;
    }

    .icon {
        margin-right: 40px;
    }

    .footer {
        border-bottom-right-radius: 0;
    }

}