html,
body {
    padding: 0;
    margin: 0;
    background-color: #EBF2FA;
    font-family: 'Poppins', sans-serif;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.navbar {
    border: 1px solid rgba(0, 0, 0, 0.438);
    max-width: 300px;
    position: relative;
    display: block;
    padding-top: 1rem;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1rem;
}

.navbar-fixed {
    width: 100%;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    position: fixed;
}

.main-content {
    margin-left: 300px;
}

.header {
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
}

.container {
    padding-left: 36px;
    padding-right: 36px;
}

.container-body {
    border-bottom-left-radius: 10px;
    background-color: #EBF2FA;
    border-bottom: 1px solid #05668D;
}

.container-body h1 {
    margin-bottom: 3px;
}

.container-body p {
    margin: 0;
    padding-right: 15px;
    text-align: right;
}

.card {
    margin-bottom: 1.5rem;

}

.card-body {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.287), 0 2px 10px 0 rgba(0, 0, 0, 0.26);
    border-right: 3px solid green;
    border-left: 3px solid green;
}

.navbar-logo {
    display: block;
    text-align: center;
    padding-top: 1.20rem;
    padding-bottom: 1.20rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-logo img {
    width: 50px;
    transition: 1s ease;
}
.navbar-logo img:hover {
    transform: rotateY(200deg)
}

.navbar-sublist {
    list-style-type: none;
    padding-left: 0;
}

.navbar-list {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.navbar-list a {
    text-decoration: none;
    padding-left: 1rem;
    color: #05668D;
    transition: 400ms cubic-bezier(1, 1.2, 1, 1);
}

.navbar-list a:hover {
    padding-left: 2rem;
    color: hsl(0, 0%, 0%);
}

.hover-red a:hover {
    color: red !important;
}

.divider {
    margin-top: .70rem;
    margin-bottom: 2.75rem;
    width: 90%;
}

.active {
    border-left: 3px solid #05668D;
    background-color: #67943615;
}

.container-user-name {
    text-align: center;
    border-radius: 10px;
    border: 2px solid #05668D;
}

.navbar-mobile {
    display: none;
}

.fa-bars {
    display: none;
}

.nav-bar-username-mobile {
    display: none;
}

.divider-mobile {
    display: none;
}

.open-nav {
    display: flex !important;
}

/* REQUEST STYLES */
.requests {
    margin: 9px 0px 2px 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.287), 0 2px 10px 0 rgba(0, 0, 0, 0.26);
    border-right: 3px solid green;
    border-left: 3px solid green;
    width: 99%;
    min-height: 5em;
}

.requests:hover {
    transition: 0.2s ease 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.561), 0 6px 20px 0 rgba(0, 0, 0, 0.513);
}

/* REQUEST STYLES ENDS */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    border-radius: 15px;
    background-color: #fefefe;
    margin-left: auto;
    height: 100%;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #888;
    width: 350px;
    transition: 1s ease-in-out;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#title,
#description,
#post_category,
#submit {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #05668D;
    padding: 10px;
    border-radius: 10px;
    transition: 1s ease;
    width: -webkit-fill-available;
}

#submit:hover{
    background-color: #000;
    transform: scale(1.1);
}

.btn-primary {
    background-color: #05668D;
    color: #EBF2FA;
}

/* error modal starts */
.errormodal {
    color: #EBF2FA;
    opacity: 0;
    position: fixed;
    top: 0;
    z-index: 31;
    padding: 16px;
    width: 100%;
    transform: translateY(-57px);
    background-color: #e25c3d;
    /* background: -webkit-linear-gradient(-180deg, rgb(251, 176, 30), rgb(229, 2, 18), rgb(192, 6, 156)) */
}

.errormodal p {
    text-align: center;
    margin: 0;
}

.errormodal span {
    cursor: pointer;
    font-weight: bolder;
    float: right;
}

.error-transition {
    transition: all .6s ease;
}

.error-modal-open {
    transform: translateY(0);
    opacity: 1;
}

.btn-scroll-top {
    position: fixed;
    width: 50px;
    border-radius: 100px;
    outline: none;
    bottom: 0;
    display: none;
    margin-bottom: 10px;
    right: 0;
    margin-right: 10px;
    height: 50px;
    border: none;
    z-index: 20;
    cursor: pointer;
    background-color: #679436;
}

.btn-scroll-top:hover {
    background-color: #A5BE00;
}

.fa-angle-up {
    font-size: 30px;
}

.networkerror{
    position: fixed;
    /* transform: translateY(50px); */
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000;
    border-radius: 4px 4px 0 0;
    width: 100px;
    height: 50px;
    bottom: 0;
    z-index: 100;
    left: 0;
}
.ntw-content-offline{
    padding-left: 1.5em;
}

.ntw-content-offline:after{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0.9em;
    width: 0.5em;
    left: 1em;
    content: " ";
    margin: auto;
    width: 15px;
    border-radius: 50px;
    background-color: #e24949;
}
.ntw-content-online{
    padding-left: 1.5em;
}

.ntw-content-online:after{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0.9em;
    width: 0.8em;
    left: 1em;
    content: " ";
    margin: auto;
    width: 15px;
    border-radius: 50%;
    background-color: #80d580;
}

.ntw-content-online-open {
    transform: translateY(0px);
    opacity: 1;
}
.ntw-content-offline-open {
    transform: translateY(0px);
    opacity: 1;
}

.network-error-message{
    text-align: center;
    position: fixed;
    background-color: #000;
    border-radius: 4px 4px 0 0;
    width: 50%;
    left: 5%;
    right: 5%;
    bottom: 30px;
    background-color: rgb(16, 10, 98);
    color: #EBF2FA;
}
/* error modal ends */
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

.background-loader{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(235, 242, 250, 0.959);
}

.grey-text{
    color: grey;
    text-align: center;
    font-size: 50px;
    opacity: 1;
    font-family: 'Chilanka', cursive;
    transition: 1s ease;
}
.design-text{
    font-family: 'Poppins', cursive;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@media all and (max-width:900px) {
    .grey-text{
        font-size: 2em;
    }

    .navbar-mobile {
        display: flex;
        justify-content: space-between;
        padding-left: .80rem;
        padding-right: .80rem;
        align-items: center;
    }

    .navbar-fixed {
        position: relative !important;
        min-width: 100%;
    }

    .main-content {
        margin-left: 0;
    }

    .divider {
        width: 100%;
    }

    .navbar-logo {
        padding: 0 !important;
    }

    .container {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .hover-red a {
        color: red !important;
    }

    .fa-bars {
        cursor: pointer;
        font-size: 40px;
        display: block;
    }

    .nav-bar-username-mobile {
        display: block;
    }

    .navbar {
        display: none;
    }

    .divider-mobile {
        display: block;
    }
}

@media all and (max-width: 650px) {
    .modal-content {
        width: 80%;
    }
}

@media all and (max-width: 450px) {
    .modal-content {
        width: 100%;
    }
}